/* begin Page */

/* Created by Artisteer v3.1.0.48375 */

.cleared {
   width:1px;
}
/* Start Box */
.box, .box-body {
   zoom:1;
}
/* End Box */
/* Start Bar */
.bar{
   zoom:1;
}
/* End Bar */
/* end Page */

/* begin Header */
.header {
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('div'),firstChild).className='header-jpeg');
   z-index: 1;
}

.header-jpeg
{
   position: absolute;
   z-index:-1;
   top: 0;
   width:100%;
   height: 130px;
   background-image: url('images/header.jpg');
   background-repeat: no-repeat;
   background-position: center center;
}
/* end Header */

/* begin TextBlock */
div.textblock
{
   font-size: 1px;
   background: none;
   behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+artGetStyleUrl()+"images/textblock-bg.png',sizingMethod='scale')");
}
/* end TextBlock */

/* begin Menu */
ul.hmenu, ul.hmenu ul, ul.hmenu li, ul.hmenu a {
   zoom:1;
}
.hmenu li.hmenuhover{
   z-index: 10000;
}
.hmenu .hmenuhoverUL{
   visibility: visible;
   top: 100%;
   left: 0;
}
.hmenu .hmenuhoverUL .hmenuhoverUL{
   top: 0;
   left: 100%;
}
.hmenu ul li {
   float: left !important;
   clear: both;
   width: 100%;
}
.nav
{
   zoom: 1;
   height: 32px;
   background:#4B8902;
}

/* end Menu */

/* begin MenuItem */
.hmenu a 
{
   display:inline-block;
   color: #FFFFFF;
   padding: 0 8px;
   line-height: 32px;
   text-align: center;
}

.hmenu a.active 
{
   color: #000000;
   background-color:#E3F7BC;
}

.hmenu a:hover, .hmenuhoverA,  .hmenuhover a 
{
   color: #404040;
   background-color:#E3F7BC;
}

/* end MenuItem */

/* begin MenuSeparator */
ul.hmenu li {
   margin-left:expression(this.previousSibling==null?'0':'0');
}
ul.hmenu li li{
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.hmenu ul a 
{
   color: #303030 !important;
   float: left;
}

.hmenu ul a:hover, .hmenu ul .hmenuhover .hmenuhoverA 
{
   color: #FDB76D !important;
   background-position: left bottom;
   border-top-width: 0 !important;
}

/* end MenuSubItem */

/* begin Box, Sheet */
.sheet {
   background:#FFFFFF;
}
/* end Box, Sheet */

/* begin Layout */
.content-layout, .content-layout-row, .layout-cell 
{
   display: block;
   zoom: 1;
}
.layout-cell
{
   position:relative;
   float: left;
   clear: right;
}
/* end Layout */

/* begin Button */
.button-wrapper{
   zoom: 1;
}
.button-wrapper .button-l, .button-wrapper .button-r {
   display: none;
}
.button-wrapper .button {
   float: left;
}
/* end Button */

/* begin Box, Block, VMenuBlock */
.vmenublock {
   background:#FFFFFF;
}
/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.vmenublockheader {
   background:#4B8902;
}
/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.vmenublockcontent {
   background:#FAFCF2;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenuItem */
ul.vmenu, ul.vmenu ul, ul.vmenu li, ul.vmenu a
{
   position:relative;
   zoom: 1;
}

ul.vmenu li {
   z-index:0;
   margin-top:expression(this.previousSibling==null?'0':'1px');
}
ul.vmenu ul{
   margin-top:1px;
   padding-bottom: 0;
}

ul.vmenu a 
{
   color: #545454;
   background-color:#FAFCF2;
   padding: 0 10px 0 10px;
   height: 28px;
   line-height: 28px;
}

.vmenu a.active 
{
   color: #A65703;
   background-color:#FAFCF2;
}

ul.vmenu a:hover
{
   color: #3D3D3D;
   background-color:#E3F7BC;
}

/* end VMenuItem */

/* begin VMenuSubItem */
ul.vmenu ul a {
   color: #496818 !important;
}
ul.vmenu li li {
   padding-top:expression(this.previousSibling==null?'0':'0');
   margin-top:expression(this.previousSibling==null?'0':'0');
}
 
ul.vmenu ul ul {
   margin-top:0;
}
ul.vmenu ul a.active {
   color: #496818 !important;
}
ul.vmenu ul a:hover {
   color: #CC0000 !important;
}	
/* end VMenuSubItem */

/* begin Box, Block */
.block {
   background:#FFFFFF;
}
/* end Box, Block */

/* begin BlockHeader */
.blockheader {
   background:#FFFFFF;
}
/* end BlockHeader */

/* begin Box, BlockContent */
.blockcontent {
   background:#FFFFFF;
}

/* end Box, BlockContent */

/* begin Box, Post */
.post {
   background:#FFFFFF;
}
/* end Box, Post */

/* begin PostMetadata, PostMetadataHeader */
.postmetadataheader
{
   zoom:1;
   background:#FFFFFF;
}
/* end PostMetadata, PostMetadataHeader */

/* begin PostIcons, PostHeaderIcons */
.postheadericons span{
   zoom: 1;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.post ul li, .post ol ul li
{
   height: 1%;
   padding-left: 16px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

.post ul ol li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}
/* end PostBullets */

/* begin PostMetadata, PostMetadataFooter */
.postmetadatafooter
{
   zoom:1;
   background:#FFFFFF;
}
/* end PostMetadata, PostMetadataFooter */

/* begin PostIcons, PostFooterIcons */
.postfootericons span{
   zoom: 1;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.footer-body{
   padding-right: 0;
   zoom:1;
}
.footer{
   zoom:1;
   background:#4B8902;
}

/* end Footer */

/* begin WordPress, Template.WordPress */
input.search-button{
   display: none;
}
input.search-text {
   padding-right: 0;
}
form.search div {
   margin: 0;
}/* end WordPress, Template.WordPress */

/* begin LayoutCell, content */
.sidebar1 {
   width: auto;
}
/* end LayoutCell, content */

.commentlist, .commentlist li
{
   behavior: none;
}
